
# Temporary files created by jupyter notebook
*.ipynb_*

# temporary files created by MECSim and analysis process
Smoothed.txt
Master.inp

# dev temporary files in python directory
python/*.txt


# fortran source code
src/

# output directory
output/

# ML python codes - keep off repo for now
python_ml/

